{% extends 'managementAPP/main.html' %}
{% block content %}
    <h1>
        {{request.user}} &#128537;!!<br>
        Information Messeges!!
    </h1>
    {% if request.user.is_manager is True %}
        <a class="btn btn-primary" href="{% url 'infomessege-create' %}" role="button">create INFO messege</a>
    {% endif %}
    <form method="GET">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input type="submit" value="Search">
    </form>

    <table border="1" class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">INFO messege content</th>
                <th scope="col">creater</th>
                <th scope="col">created time</th>
                <th scope="col">Fuction</th>
            </tr>
        </thead>
        <tbody>
            {% for infomessege in infomesseges %}
            <tr>
                <td>
                    <a href="{% url 'infomessege' infomessege.info_id %}">{{infomessege.info_messege_content}}</a>
                </td>
                <td>{{infomessege.creater}}</td>
                <td>{{infomessege.created}}</td>
                <td colspan="2">
                    {% if request.user.is_manager is True %}
                        <a class="btn btn-primary" href="{% url 'infomessege-update' infomessege.info_id%}" role="button">Edit</a>
                        <a class="btn btn-primary" href="{% url 'infomessege-delete' infomessege.info_id%}" role="button">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <h3>no item in list</h3>
            {% endfor %}
        </tbody>
            
    </table>
{% endblock content %}
